<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<div id="mainform">
    <form th:action="@{/save}" method="post" th:object="${user}">
        <input type="hidden" th:field="*{id}"/>
        <table>
            <tr>
                <td>First name : </td>
                <td><input type="text" th:field="*{firstName}"/></td>
            </tr>
            <tr>
                <td>Second name : </td>
                <td><input type="text" th:field="*{secondName}"/></td>
            </tr>
            <tr>
                <td>Address : </td>
                <td><input type="text" th:field="*{address}"/></td>
            </tr>
            <tr>
                <td>Age : </td>
                <td><select th:field="*{age}">
                    <option th:each="i: ${#numbers.sequence(1, 99)}" th:value="${i}" th:text="${i}">

                    </option>
                </select></td>
            </tr>
        </table>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>